basePath: /api/v1
definitions:
  models.AuthResponse:
    properties:
      token:
        type: string
      user:
        type: string
    type: object
  models.ICard:
    properties:
      cardType:
        type: string
      id:
        type: integer
      ownerName:
        type: string
      packageId:
        description: API returns string
        type: string
      private:
        description: API returns number or string
      status:
        type: string
    type: object
  models.IShop:
    properties:
      id:
        type: integer
      ishopId:
        type: integer
      ownerName:
        description: |-
          Name might not be in the Countids list, but we fetch it from QRIDs detail?
          User doc says: GET /api/QRIDs/{id} returns ownerName.
          The Countids list only has ishopId and id.
          We might need a combined struct or just return what we have.
          Let's add OwnerName for the detail view.
        type: string
    type: object
  models.LoginRequest:
    properties:
      password:
        type: string
      username:
        type: string
    required:
    - password
    - username
    type: object
  models.RegisterRequest:
    properties:
      email:
        type: string
      password:
        type: string
      username:
        type: string
    required:
    - email
    - password
    - username
    type: object
host: localhost:8080
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is the API server for i-Manage application.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: i-Manage API
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Authenticate user and return token
      parameters:
      - description: Login Credentials
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.AuthResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties:
              type: string
            type: object
      summary: User Login
      tags:
      - auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Register a new user account
      parameters:
      - description: Registration Info
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.RegisterRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.AuthResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "409":
          description: Conflict
          schema:
            additionalProperties:
              type: string
            type: object
      summary: User Registration
      tags:
      - auth
  /debug/seed:
    post:
      description: This endpoint is deprecated as we now use external API
      produces:
      - application/json
      responses:
        "200":
          description: Success
          schema:
            additionalProperties:
              type: string
            type: object
      summary: (Deprecated) Seed dummy data
      tags:
      - debug
  /search/icard:
    get:
      description: Find iCards ending with the provided suffix from api.qrcare.net
      parameters:
      - description: Suffix (e.g. 4, 5, 6 digits)
        in: query
        name: suffix
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.ICard'
            type: array
      security:
      - CookieAuth: []
      summary: Search iCard by Suffix
      tags:
      - search
  /search/ishop:
    get:
      description: Find iShops ending with the provided suffix from api.qrcare.net
      parameters:
      - description: Suffix (e.g. 4, 5, 6 digits)
        in: query
        name: suffix
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.IShop'
            type: array
      security:
      - CookieAuth: []
      summary: Search iShop by Suffix
      tags:
      - search
securityDefinitions:
  CookieAuth:
    in: cookie
    name: token
    type: apiKey
swagger: "2.0"
