version: '3.8'

services:
  app:
    build:
      context: .
    platform: linux/arm64
    ports:
      - "8080:8080"
    environment:
      - REDIS_ADDR=redis:6379
      - REDIS_PASSWORD=27102001
      - REDIS_DB=0
    depends_on:
      - redis
    networks:
      - app-network

  redis:
    image: redis:7.2
    platform: linux/arm64
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network
    command: redis-server --requirepass 27102001 --appendonly yes

networks:
  app-network:
    driver: bridge

volumes:
  redis_data:
